/* COMMON CSS */
@font-face{
  font-family : "Montserrat-bold";
  src: url("../assets/fonts/montserrat/Montserrat-Bold.ttf")
}
@font-face{
  font-family : "Montserrat-regular";
  src: url("../assets/fonts/montserrat/Montserrat-Light.ttf")
}
@font-face{
  font-family : "Montserrat-light";
  src: url("../assets/fonts/montserrat/Montserrat-Light.ttf")
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.txt-14 {
  font-size: 0.875rem;
}
.txt-20 {
  font-size: 1.25rem;
}
.txt-24 {
  font-size: 1.5rem;
}
.txt-40 {
  font-size: 2.5rem;
}
/* CUSTOM CSS */
.navbar {
  align-items: center;
  background-color: #252b42;
  display: flex;
  font-family : "Montserrat-bold";
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
  }
}
.header-bg {
  background: linear-gradient(
      89.85deg,
      #000000 0.13%,
      #000000 0.14%,
      rgba(0, 0, 0, 0) 99.56%
    ),
    url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  margin-top: -10px;
}
@media screen and (min-width: 768px) {
  .header-bg {
    height: 80vh;
    margin-top: -50px;
  }
}
@media screen and (max-width: 768px) {
  .header-bg {
    text-align: center;
  }
}
.header-bg__info {
  padding-top: 220px;
}
.header-bg__info :last-child {
  margin-left: 10px;
  margin-top: -10px;
}
.header-bg__info-head {
  font-family : "Montserrat-bold";
  font-size: 3.625rem;
}
.header-bg__info p {
  font-family : "Montserrat-light";
  font-size: 1.25rem;
}
.section__features {
  background: #252b42;
  padding: 6rem 0;
}
.section__testimonial {
  background: #8ec2f2;
  padding: 6rem 0;
}
.section__testimonial-head {
  font-family : "Montserrat-bold";
  font-size: 2.5rem;
}
.section__testimonial-info,
.section__industry-info,
.section__pricing-info{
  margin-bottom:85px
}
.section__testimonial-box {
  background: white;
  margin: 0 50px;
  max-width: 350px;
  padding: 30px 40px;
  position: relative;
}
.section__testimonial-box-img {
  display: none;
}
.clip-star {
  background: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 20px;
  width: 20px;
}
.clip-star-white {
  background: white;
  border: 7px solid gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media screen and (min-width: 768px) {
  .section__testimonial-box {
    background: white;
    min-width: 449px;
    padding: 30px 40px;
  }
  .section__testimonial-box-img {
    display: block;
    left: -41px;
    position: absolute;
    top: 25px;
  }
}
.section__industry {
  background: #252b42;
  padding: 7rem 0px;
}
.section__industry-box-details {
  bottom: 15px;
  left: 15px;
  position: absolute;
}
.section__industry-box-details h3 {
  width: 200px;
}
.section__pricing {
  background: #252b42;
  padding: 5rem 0px;
}
.section__pricing-box {
  background: white;
  border-radius: 10px;
  margin:3rem 0px;
  width: 21rem;
}
.section__pricing-list-item-box-check {
  align-items: center;
  background: #2dc071;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 5px;
  width: 32px;
}
.section__pricing-list-item-box-check-gry {
  align-items: center;
  background: #bdbdbd;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 5px;
  width: 32px;
}
.check {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  display: inline-block;
  height: 16px;
  transform: rotate(45deg);
  width: 8px;
}
.section__pricing-list-item-box-btn {
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .section__pricing-list-item-box-btn {
    margin: 20px 0;
    order: -1;
  }
}
.section__pricing-cols {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section__pricing-cols {
    flex-direction: column;
  }
}
.section__contact {
  padding: 40px 0;
}
.section_footer {
  background: #252b42;
  padding: 3.125rem 0;
}
.section_footer-row-cols,
.section_footer-row-cols-address {
  margin: 20px 10px;
}
.section_footer-row-cols > * {
  margin: 5px 0;
}
.section_footer-row-cols a {
  color: white;
  text-decoration: none;
}
.section__footer-copyright {
  background: #252b42;
  color: white;
}
@media screen and (min-width: 768px) {
  .section__footer-copyright {
    background: white;
    color: #737373;
  }
}
.section__footer-copyright > * {
  padding: 50px 0;
}
.section__subscribe {
  background: linear-gradient(
      89.83deg,
      #ffffff 14.24%,
      #ffffff 14.25%,
      rgba(255, 255, 255, 0) 99.55%
    ),
    url("../images/bg2.jpg") no-repeat right;
  padding: 90px 0;
}
.section__subscribe-head {
  margin-bottom: 50px;
}
.new-offer {
  align-items: center;
  background: #e77c40;
  border-radius: 52px;
  color: white;
  display: flex;
  font-size: 21px;
  font-weight: 700;
  height: 75px;
  justify-content: center;
  position: absolute;
  right: 9px;
  top: -50px;
  width: 75px;
}
 .section__pricing-list-item-box-price-amount{
  color: #23A6F0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 57px;
 }
 .section__pricing-list-item-box-price-limit{
  color: #8EC2F2;
  font-family: 'Montserrat-light';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
 }