ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dark-bg {
  background: #252b42;
}
.header-bg {
  background: url("./images/bg.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 298px;
  /* margin-top:-50px */
}
.innerheader {
  background: black;
  opacity: 0.6;
}
.services {
  margin-bottom: -12px;
}
.testinomials {
  background: #8ec2f2;
  padding: 40px;
}
.testinomials__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.testinomials__list > * {
  margin-top: 50px;
}
.testinomials__list-item-box {
  background: white;
  padding: 20px 30px;
  max-width: 449px;
  position: relative;
}
.testinomials__list-item-box-user-img {
  position: absolute;
  top: 15px;
  left: -50px;
}
.optimists {
  padding: 40px;
}
.optimists__list,
.pricing__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.optimists__list-item {
  height: 300px;
  width: 200px;
  background: url("./images/post1.png") no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  margin-bottom: 20px;
}
.pricing {
  padding: 40px;
}
.pricing__list-item-box {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  border-radius: 10px;
  margin-bottom:30px
}
.pricing__list-item-box-list > * {
  margin: 15px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
